html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.btn{
    border-radius: 8px;
}
.yt-video{
    margin-top: 24px;
}

.add-movie{
    margin-top: 18px
}

#movie-rating{
    background-color: #f6f6f6;
}

.vcenter{
    vertical-align: middle;
}

.nav-shadow{
    box-shadow: rgb(0 0 0 / 5%) 0px 10px 15px -3px, 
    rgb(0 0 0 / 5%) 0px 4px 10px -2px;
}

.select-style{
    padding: 8px;
    width: 300px;
}

#add-item-submit{
    margin-top: 24px;
}

select,
select option {
  color: #2b2a2a;
}

select:invalid,
select option[value=""] {
  color: #828080 !important;
}

.form-control {
  border-radius: 8px;
  border-style: none;
}

/* The container */
.cb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}


.nav-link {
    color: #828080;
    display: flex;
    align-items: center;
}

.active{
    color: #f6f6f6
}

.nav-item{
    margin: 0px 12px;
}

.nav-link:hover{
    color: #f6f6f6;
}

.form-inline .form-control{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 10px;
    border-radius: 8px;
    border-style:none;
    width: 300px;
}

.btn-red{
    background-color:#FF5E5E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}

.btn-gray{
    background-color:#828080;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}

.btn-gray:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    color: white;
}

.btn-red:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    color: white;
}

.btn-create{
    padding: 10px 30px;
    border-radius: 50px;
    margin: 10px 10px;
}

.video{
    border-style: none;
    border-radius:10px;
}

.main-video{
    width: 100%;
    height:100%;
}

.sub-header{
    margin-top: 20px;
    margin-bottom: 8px;
}


.invalid-feedback{
    color:#FF5E5E;
}

.search-results{
    margin-top: 100px;
}

.center {
    display: flex;
    justify-content: left;
    align-items: center;
}

img{
    width:100%;
    border-radius: 10px;
}

.edit{
    color: #C4C4C4;
    display:flex;
    font-family: 'Product Sans Light', sans-serif;
}

.edit:hover{
    color:#FF5E5E;
    text-decoration: none;
}

.card{
    width: 18rem;
    margin: 8px 12px;
    border-radius: 10px;
    display: inline-block;
}

.h-card{
    width: 100%;
}

.card-deck{
    display: inline-flex !important;
    flex-direction: row;
    flex-flow: initial;
    border-radius: 4px;
    /* background: #fff; */
    padding: 14px 80px 10px 36px;
    cursor: pointer;
}

.card-text{
    color: #2b2a2a;
    overflow: hidden;
}

.card-subtitle{
    color:#2b2a2a
}


.card:hover{
    box-shadow: 0 0px 40px rgba(0,0,0,.5), 0 0px 40px rgba(0,0,0,.3);
    z-index: 100;
    cursor: pointer;
}

.h-card:hover{
    box-shadow: 0 0px 40px rgba(0,0,0,.5), 0 0px 40px rgba(0,0,0,.3);
}

.card-img-top{
    width: 25%;
    border-radius: 10px 10px 0px 0px;
}

.h-card-img-top{
    width: 125%;
    border-radius: 10px 10px 10px 10px;
}

.card-title{
    color:#2b2a2a;
    white-space: normal;
}

.img-col{
    margin-right:20px;
}

.card-btn{
    margin-top: 12px;
}

#search-title{
    margin: 20px 12px 0px;
}

.g-rating{
    width: 28px;
    border-radius: 0px;
}

.align{
    padding-left: 0px;
}

.inline{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.review{
    margin-left: 16px;
    font-size: 20px;
}
